*,
*::before,
*::after {
    box-sizing: border-box;
}



/* Custom Properties */

:root {
    --ff-primary: 'Slabo 27px', serif;
    --ff-secondary: 'Lato', sans-serif;
}

/* General Styles */

body {
    background-color: #BDDAD1;
}






.container {
    display: grid;
    max-width: 960px;
    margin: 0;
}

h1, h2, h3, a, p, label {
    text-align: center;
    font-family: var(--ff-primary);
}

p {
    margin-bottom: 0rem;
}

label {
    margin-top: 5rem;
    margin-bottom:  1rem;
    font-weight: bold;
}

input {
    display: block;
    margin: 0 auto;
    width: 50%;
    display: center;
}

.button {
    margin-top: 1rem;
    display: block;
    width: 25%;
    border: none;
    background-color: #26A67D;
}