
/* Custom Properties */

:root {
    --ff-primary: 'Slabo 27px', serif;
    --ff-secondary: 'Lato', sans-serif;
}

/* General Styles */

body {
    background-color: #BDDAD1;
}

form {
    margin: 0 auto;
}

.container {
    display: grid;
    max-width: 500px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2, h3, a, p, label {
    text-align: center;
    font-family: var(--ff-primary);
    z-index: 3;
}

.banner {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 30%;
    border-radius: 10%;
}

a {
    color: black;
    margin: 0 auto;
    background-color: white;
    width: 100%;
    text-decoration: none;
    box-shadow: 1.5em 1rem black;
    z-index: 2;
    transition: background-color 300ms ease-in;
}

a:active {
    width: auto;
    color: white;
}

p {
    margin-bottom: 0rem;
}

label {
    margin-top: 5rem;
    margin-bottom:  1rem;
    font-weight: bold;
    display: block;
}

input {
    display: block;
    margin: 0 auto;
    width: 100%;
    display: center;
}



.submit {
    color: white;
    font-weight: bold;
    display: block;
    width: 10rem;
    height: 2.5rem;
    border: none;
    background-color: #26A67D;
    margin: 1rem auto;
}

.hint {
    color: black;
    display: block;
    width: 8rem;
    border: 1 1 1 1;
    background-color: #75c0a8;
    margin: 2rem auto;
}



button:active {
    background-color: grey;
    width: 25%;
}

#hint {
    font-size: 2rem;
    display: none;
}


#wrongMessage {
    font-size: 2rem;
    color: red;
    font-weight: bold;
    display: none;
}