*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height:100%;
}


/* Custom Properties */

:root {
    --ff-primary: 'Slabo 27px', serif;
    --ff-secondary: 'Lato', sans-serif;
}

/* General Styles */

body {
    background-color: #BDDAD1;
}



form {

    margin: 0 auto;
}

label {
    display: block;
    margin: 0 auto;
}


.container {
    display: grid;
    max-width: 500px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2, h3, a, p, label {
    text-align: center;
    font-family: var(--ff-primary);
    z-index: 3;
}


.banner {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 30%;
    border-radius: 10%;
}

a {
    color: black;
    margin: 0 auto;
    background-color: white;
    width: 100%;
    text-decoration: none;
    box-shadow: 1.5em 1rem black;
    z-index: 2;
}





a:active {
    color: white;
    background-color: black;
    box-shadow: -1rem -1rem white;
}


p {
    margin-bottom: 0rem;
}

label {
    margin-top: 5rem;
    margin-bottom:  1rem;
    font-weight: bold;
}

input {
    display: block;
    margin: 0 auto;
    width: 100%;
    display: center;
}

button {
    color: white;
    font-weight: bold;
    display: block;
    width: 75%;
    border: none;
    background-color: #26A67D;
    margin: 1rem auto;
}

.button:active {
    background-color: grey;
    width: 25%;
}